*.mp4
*.FCBak
**/.DS_Store
*.bak
*.kicad_pcb-bak
*.sch-bak
*-cache.lib
*.net
**/fp-info-cache
*-backups
**/desktop.ini
**/.vscode
*.code-workspace
**/.ipynb_checkpoints
**/__pycache__
**/tags
*.lck
**/#auto_saved_files#
*.swp
*.mov
video/*
**/build
**/.history
